@import url("/src/cssReset/reset.css");

@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;500&family=Roboto:wght@300;500&display=swap");

body {
  font-family: "roboto", sans-serif;
}

main {
  background-color: cornflowerblue;
}

.border-container {
  border: 1px, solid, black;
  padding: 5px;
  margin: 5px;
}

h2 {
  font-weight: 700;
  font-style: italic;
}
